<div class="aplicacion">
    <h2>Aplicaciones</h2>
  
    <!-- Lista de aplicaciones -->
    <div *ngFor="let aplicacion of aplicaciones">
      <p>Candidato ID: {{aplicacion.candidatoId}}</p>
      <p>Oferta de Trabajo ID: {{aplicacion.ofertaTrabajoId}}</p>
    </div>
  
    <!-- Formulario para crear una nueva aplicación -->
    <h2>Nueva Aplicación</h2>
    <form (submit)="createAplicacion(candidatoId.value, ofertaTrabajoId.value, estado.value)">
      <label for="candidatoId">Candidato ID:</label>
      <input id="candidatoId" type="text" #candidatoId>
  
      <label for="ofertaTrabajoId">Oferta de Trabajo ID:</label>
      <input id="ofertaTrabajoId" type="text" #ofertaTrabajoId>
  
      <label for="estado">Estado:</label>
      <input id="estado" type="text" #estado>
  
      <button type="submit">Crear Aplicación</button>
    </form>
  </div>
  